body {
    padding: 0;
    margin: 0;
    /* background-color:darkslategray; */
    /* To set gradient background  */
    /* 1.Linear gradient  */
    /* background: linear-gradient(to right,red,yellow,green); */

    /* 2.Vertical gradient  */
    /* background: linear-gradient(to bottom,rgb(183, 5, 5),rgb(174, 174, 6),rgb(10, 126, 10)); */

    /* 3.Diagonal gradient  */
    /* 0deg :-vertical ho jayega wahi se degree start bhi hai  */
    /* background: linear-gradient(45deg,red,blue,green); */

    /* 4.Radial gradient:circular effect  */
    background: radial-gradient(circle,rgb(128, 27, 27),yellow,rgb(11, 11, 233));

    /* 5.Stripped background: -Reapiting linear background  */
    /* background: repeating-linear-gradient(red 10px, yellow 20px); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    font-weight: 700;
}

.form-container {
    background-color: rgba(244, 255, 249, 0.7);


    padding: 20px;
    font-size: 25px;
    height: 500px;
    width: 400px;
}

form {
    margin: 5px;
    padding-bottom: 80px;
    font-weight: bold;
}

.p_change {
    width: 90%;
    height: 25px;
    margin-top: 10px;
    border-radius: 5px;
    display: block;
    font-size: 15px;
    border-width: 1px;

}

/* #first {
    width: 90%;
    height: 25px;
    margin-top: 10px;
    border-radius: 5px;
    display: block;
    font-size: 15px;
    border-width: 1px;
}

#second {
    width: 90%;
    height: 25px;
    margin-top: 10px;

    border-radius: 5px;
    display: block;
    font-size: 15px;
    border-width: 1px;
}

#third {
    width: 90%;
    height: 25px;
    margin-top: 10px;
    border-radius: 5px;
    display: block;
    font-size: 15px;
    border-width: 1px;
} */

button {
    font-size: 20px;
    background-color: rgb(44, 44, 228);
    border-radius: 5px;
    width: 90%;
    margin-top: 15px;
    padding: 5px;
    border-width: 2px;
}